<ul id="nav-mobile" class="side-nav fixed" style="width: 240px;">
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li><a class="collapsible-header waves-effect waves-teal">CSS</a>
        <div class="collapsible-body" style="display: block;">
          <ul>
            <li><a href="/styleguide/color.html">Color</a></li>
            <li><a href="/styleguide/grid.html">Grid</a></li>
            <li><a href="/styleguide/helpers.html">Helpers</a></li>
            <li><a href="/styleguide/lists.html">Lists</a></li>
            <li><a href="/styleguide/media-css.html">Media</a></li>
            <li><a href="/styleguide/media-queries.html">Media Queries</a></li>
            <li><a href="/styleguide/sass.html">Sass</a></li>
            <li><a href="/styleguide/shadow.html">Shadows</a></li>
            <li><a href="/styleguide/table.html">Table</a></li>
            <li><a href="/styleguide/typography.html">Typography</a></li>
          </ul>
        </div>
      </li>
      <li><a class="collapsible-header  waves-effect waves-teal">Components</a>
        <div class="collapsible-body" style="">
          <ul>
            <li><a href="/styleguide/arrows.html">Arrows</a></li>
            <li><a href="/styleguide/badges.html">Badges</a></li>
            <li><a href="/styleguide/blockquote.html">Blockquote</a></li>
            <li><a href="/styleguide/buttons.html">Buttons</a></li>
            <li><a href="/styleguide/breadcrumbs.html">Breadcrumbs</a></li>
            <li><a href="/styleguide/cards.html">Cards</a></li>
            <li><a href="/styleguide/chips.html">Chips</a></li>
            <li><a href="/styleguide/collections.html">Collections</a></li>
            <li><a href="/styleguide/footer.html">Footer</a></li>
            <li><a href="/styleguide/forms.html">Forms</a></li>
            <li><a href="/styleguide/forms-boxed.html">Forms: Boxed</a></li>
            <li><a href="/styleguide/header.html">Header</a></li>
            <li><a href="/styleguide/hgroup.html">Hgroup</a></li>
            <li><a href="/styleguide/icons.html">Icons</a></li>
            <li><a href="/styleguide/navbar.html">Navbar</a></li>
            <li><a href="/styleguide/pagination.html">Pagination</a></li>
            <li><a href="/styleguide/preloader.html">Preloader</a></li>
          </ul>
        </div>
      </li>
      <li><a class="collapsible-header  waves-effect waves-teal">JavaScript</a>
        <div class="collapsible-body" style="">
          <ul>
            <li><a href="/styleguide/collapsible.html">Collapsible</a></li>
            <li><a href="/styleguide/dialogs.html">Dialogs</a></li>
            <li><a href="/styleguide/dropdown.html">Dropdown</a></li>
            <li><a href="/styleguide/lightbox.html">Lightbox</a></li>
            <!-- <li><a href="/styleguide/media">Media</a></li> -->
            <li><a href="/styleguide/modals.html">Modals</a></li>
            <li><a href="/styleguide/parallax.html">Parallax</a></li>
            <li><a href="/styleguide/pushpin.html">Pushpin</a></li>
            <li><a href="/styleguide/scrollfire.html">ScrollFire</a></li>
            <li><a href="/styleguide/scrollspy.html">Scrollspy</a></li>
            <li><a href="/styleguide/sliders.html">Sliders</a></li>
            <li><a href="/styleguide/sidenav.html">SideNav</a></li>
            <li><a href="/styleguide/tabs.html">Tabs</a></li>
            <li><a href="/styleguide/transitions.html">Transitions</a></li>
            <li><a href="/styleguide/waves.html">Waves</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>

<!-- toggle dev code -->
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large yellow">
      <i class="large material-icons">code</i>
    </a>
    <ul>
      <li><a class="btn-floating blue js-show-code"><i class="material-icons">visibility</i></a></li>
      <li><a class="btn-floating red js-hide-code"><i class="material-icons">visibility_off</i></a></li>
    </ul>
  </div>
