<!DOCTYPE html>
<html>
<head>
  <!-- global head -->
  <!-- global head -->
     <% include ../../partials/head.html %>

  <!-- page-specific head -->
  <title>Page Title</title>
  <meta name="description" content="This is the page description.">
  <link rel="canonical" href="http://www.thecapcitycollective.com/url" />  
  
  <!-- og tags -->
  <meta property="og:title" content="Page Title" />
  <meta property="og:description" content="This is the page description." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.thecapcitycollective.com/url" />
  <meta property="og:image" content="http://www.thecapcitycollective.com/assets/images/logo.jpg" />

  <!-- robots -->
  <meta name="robots" content="noindex, nofollowindex, follow">
</head>
<body class="members bone">
    <!-- global header -->
    
    
    <!-- page content -->
    <div id="main" class="padding-bottom-0">
      <section class="heading hide-on-medium-and-up">
        <div class="container"><h1 class="h3 text-black margin-top-s margin-bottom-s">Anthony “Anjo” Bone</h1></div>

      </section>
      <section class="hero hgroup-400 hide-on-medium-and-up cover">

      </section>
      <section  class="section-1">
        <div class="container full-container mmargin-left-0">
          <div class="row margin-bottom-0">
            <div class="col xs12 m6 same-height hide-on-small-and-down">
              <div class="left fixed-50 bg text-white">
                <div class="page-nav valign-middle text-center ">
                  <h1 class="h-xl text-bold text-white text-shadow">B-Boy Bone</h1>
                </div>
              </div>
            </div><!-- col -->
            <div class="col xs12 m6 right same-height mpadding-left-l mpadding-right-l">
              <h3 class="kommissar text-bold text-black">About</h3>
              <p>Anthony “Anjo” Bone (B-Boy Bone) comes out of military town Killeen, TX, neighboring Army base Fort Hood. Bone got introduced into breaking from one of his friends, who moved to Killeen from Houston where he had learned from the local B-Boys in that area. At the time, most of Bone’s inspiration stemmed from watching Las Vegas native crew Super Cr3w in MTV’s America’s Best Dance Crew.</p> 
              <p>Bone and his friends learned the dance at their own knowledge, until meeting local crew Style Bound Kingz (SBK), who they began training with. It wasn’t until he competed in his first jam at (Battle of the Alamo 8 in San Antonio, TX) after high school with SBK that Bone experienced the breaking scene in Texas for the first time, as well as taking the time to get to know and understand the culture and history of Hip-Hop. </p>
              <p>From that point forward, Bone also began to see breaking for the culture and art that it is rather than just a hobby, heavily influencing him to strive to become better as a dancer, and later becoming a member of Style Bound Kingz, and more recently of Austin-based crew Cap City.</p>
              <p>Bone mentions that his style of breaking is greatly inspired and influenced by his mentors Danny and Pollo from SBK. Both B-Boys’ styles were mostly based on footwork and uprock, which Bone slowly picked up and strived to improve on while training with SBK. Other inspirations for Bone include B-Boys Redfoot and Born from Rivers Crew (South Korea), and Zeshen from Havikoro (Houston, TX).</p>
            
          </div><!-- col -->
         </div><!-- row -->
        </div><!-- .container -->
      </section><!-- .hero  -->
 <% include  ../../partials/foot.html %>

    </div><!-- #main -->

    <!-- global footer -->

<% include ../../partials/footerScripts.html %>

    <!-- global footer -->
   
</body>
</html>