<!DOCTYPE html>
<html>
<head>
  <!-- global head -->
  <!-- global head -->
     <% include ../../partials/head.html %>

  <!-- page-specific head -->
  <title>Page Title</title>
  <meta name="description" content="This is the page description.">
  <link rel="canonical" href="http://www.thecapcitycollective.com/url" />  
  
  <!-- og tags -->
  <meta property="og:title" content="Page Title" />
  <meta property="og:description" content="This is the page description." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.thecapcitycollective.com/url" />
  <meta property="og:image" content="http://www.thecapcitycollective.com/assets/images/logo.jpg" />

  <!-- robots -->
  <meta name="robots" content="noindex, nofollowindex, follow">
</head>
<body class="members mamba">
    <!-- global header -->
    
    
    <!-- page content -->
    <div id="main" class="padding-bottom-0">
      <section class="heading hide-on-medium-and-up">
        <div class="container"><h1 class="h3 text-black margin-top-s margin-bottom-s">Jason Vaughn</h1></div>

      </section>
      <section class="hero hgroup-400 hide-on-medium-and-up cover">

      </section>
      <section  class="section-1">
        <div class="container full-container mmargin-left-0">
          <div class="row margin-bottom-0">
            <div class="col xs12 m6 same-height hide-on-small-and-down">
              <div class="left fixed-50 bg text-white">
                <div class="page-nav valign-middle text-center ">
                  <h1 class="h-xl text-bold text-white text-shadow">Mamba</h1>
                </div>
              </div>
            </div><!-- col -->
            <div class="col xs12 m6 right same-height mpadding-left-l mpadding-right-l">
              <h3 class="kommissar text-bold text-black">About</h3>
              <p>Jason Vaughn a.k.a. Mamba has been a dancer & choreographer for 11 years of many facets of dance, such as Hip Hop, House, Breaking and West African. Mamba was born and raised in Houston, TX, but now is an Austin resident on his way to be a Los Angeles resident. Mamba has performed for Lannaya Drum and Dance, Ballet Afrique for a couple of shows such as Our Legacy, Love Letters", and also for The University of Texas and Red bull. Mamba has learned / taken workshops from numerous veteran dancers such as Moustapha Bangoura,  Mohamed Diaby, Jean-Claude ( West African dance), Caleaf Sellers ( House), & B-Boy Flowmaster ( Breaking). </p>

              <p>In Mamba's early years of dance he was strictly breaking, until he met his mentor David Harvey who introduced him to multiple styles of dance. Harvey literally took Mamba under his wing, invited him to private garage sessions, and taught him everything from A to Z. This was circa '2006.</p>

              <p>If it wasn't for David Harvey, Mamba would currently be a one dimensional dancer…..</p>

              <p>In Mamba's early competition years of dance he competed in numerous breaking competitions around Texas such as;  Y.A. Battles, Battle of the Alamo, Havikoro Anniversary Jam then later in his career he started to expand out to different states. Mamba's influences in dance are currently a hodgepodge of things such as; dancers of all skill levels, multiple dance styles and still learning, animals and natural human movement. To put his style in a nutshell…..Art Imitates Life.</p>
            
          </div><!-- col -->
         </div><!-- row -->
        </div><!-- .container -->
      </section><!-- .hero  -->
 <% include  ../../partials/foot.html %>

    </div><!-- #main -->

    <!-- global footer -->

<% include ../../partials/footerScripts.html %>

    <!-- global footer -->
   
</body>
</html>