<!DOCTYPE html>
<html>
<head>
  <!-- global head -->
  <!-- global head -->
     <% include ../../partials/head.html %>

  <!-- page-specific head -->
  <title>Page Title</title>
  <meta name="description" content="This is the page description.">
  <link rel="canonical" href="http://www.thecapcitycollective.com/url" />  
  
  <!-- og tags -->
  <meta property="og:title" content="Page Title" />
  <meta property="og:description" content="This is the page description." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.thecapcitycollective.com/url" />
  <meta property="og:image" content="http://www.thecapcitycollective.com/assets/images/logo.jpg" />

  <!-- robots -->
  <meta name="robots" content="noindex, nofollowindex, follow">
</head>
<body class="members chili">
    <!-- global header -->
    
    
    <!-- page content -->
    <div id="main" class="padding-bottom-0">
      <section class="heading hide-on-medium-and-up">
        <div class="container"><h1 class="h3 text-black margin-top-s margin-bottom-s">Anthony “Anjo” Bone</h1></div>

      </section>
      <section class="hero hgroup-400 hide-on-medium-and-up cover">

      </section>
      <section  class="section-1">
        <div class="container full-container mmargin-left-0">
          <div class="row margin-bottom-0">
            <div class="col xs12 m6 same-height hide-on-small-and-down">
              <div class="left fixed-50 bg text-white">
                <div class="page-nav valign-middle text-center ">
                  <h1 class="h-xl text-bold text-white text-shadow">B-Boy Bone</h1>
                </div>
              </div>
            </div><!-- col -->
            <div class="col xs12 m6 right same-height mpadding-left-l mpadding-right-l">
              <h3 class="kommissar text-bold text-black">About</h3>
             <p>
                Mr. Moreno started his dance career in 1996 with an Austin based group called Swing Team. Early into his dance career Mr. Moreno assisted creating dance routines and managing Austin’s first Hip Hop dance studio called Rhythm and Motion Dance Studio. Mr. Moreno also joined a local battle crew early in his dance career that went on to compete throughout the US winning several dance competitions.</p>
                <p> Mr. Moreno was recently awarded for his contributions as a pioneer for the Texas Bboy/Bgirl scene. Mr. Moreno has performed for big artist such as Mos Def, De La Soul, Snoop Dogg and at dance festivals such as Vail Colorado International Dance Festival, Jacob’s Pillow Dance Festival as well as a seven city tour through Germany. Mr. Moreno also performed with the Houston Rockets Launch Crew as well as performed motivational, anti bully, and educational performances for high schools across the Houston area.</p>
                <p> Mr. Moreno along with Benito Gallardo created The Cap City Collective to ensure that the Bboy/BGirl and Austin urban dancers have a vehicle to help continue its relevance while creating opportunities for the dancers.
              </p>
            
          </div><!-- col -->
         </div><!-- row -->
        </div><!-- .container -->
      </section><!-- .hero  -->
 <% include  ../../partials/foot.html %>

    </div><!-- #main -->

    <!-- global footer -->

<% include ../../partials/footerScripts.html %>

    <!-- global footer -->
   
</body>
</html>