<html lang="en">
  <head>
    <!-- include common head -->
    <% include ../partials/head.html %>
    <!-- include styleguide head -->
    <% include ./partials/head.html %>
    <!-- page-specific head -->
    <meta name="description" content="Meta description">
  </head>
  <body class="styleguide">
    <header>
    <% include ./partials/left-rail.html %>
    </header>
    <main><div class="container">
  <div class="row">

    <div class="col xs12 m9 l10">

      <div id="arrows" class="section scrollspy">
        <h2 class="header">Arrows</h2>
        <p class="caption"></p>

        <div class="card">
          <div class="card-content">

          <section>
            <div class="row">
              <div class="col m3"><div class="arrow-up arrow-red"></div></div>
              <div class="col m3"><div class="arrow-down arrow-red"></div></div>
              <div class="col m3"><div class="arrow-left arrow-red"></div></div>
              <div class="col m3"><div class="arrow-right arrow-red"></div></div>
            </div>
          </section>

          </div><!-- .card-content -->
        </div><!-- .card -->
        
        <pre class="language-markup"><code class="language-markup">
&lt;div class="arrow-up arrow-red">&lt;/div>
&lt;div class="arrow-down arrow-red">&lt;/div>
&lt;div class="arrow-left arrow-red">&lt;/div>
&lt;div class="arrow-right arrow-red">&lt;/div>
        </code></pre><br>

        <h3>Light arrows</h3>
        <div class="card grey lighten-2">
          <div class="card-content">
            <section>
              <div class="row">
                <div class="col m3"><div class="arrow-up arrow-trans-white"></div></div>
                <div class="col m3"><div class="arrow-down arrow-trans-white"></div></div>
                <div class="col m3"><div class="arrow-left arrow-trans-white"></div></div>
                <div class="col m3"><div class="arrow-right arrow-trans-white"></div></div>
              </div>
            </section>
          </div>
        </div>

        <pre class="language-markup"><code class="language-markup">
&lt;div class="arrow-up arrow-white">&lt;/div>
&lt;div class="arrow-down arrow-white">&lt;/div>
&lt;div class="arrow-left arrow-white">&lt;/div>
&lt;div class="arrow-right arrow-white">&lt;/div>
        </code></pre><br>

        <h3>All arrows</h3>

        <table class="text-small striped">
          <tr>
            <th class="text-center">Up</th>
            <th class="text-center">Down</th>
            <th class="text-center">Left</th>
            <th class="text-center">Right</th>
          </tr>
          <tr>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-up"></div>.arrow-up</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-down"></div>.arrow-down</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-left"></div>.arrow-left</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-right"></div>.arrow-right</code></td>
          </tr>
          <tr>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-up arrow-red"></div>.arrow-up<br>.arrow-red</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-down arrow-red"></div>.arrow-down<br>.arrow-red</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-left arrow-red"></div>.arrow-left<br>.arrow-red</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-right arrow-red"></div>.arrow-right<br>.arrow-red</code></td>
          </tr>
          <tr>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-up arrow-purple"></div>.arrow-up<br>.arrow-purple</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-down arrow-purple"></div>.arrow-down<br>.arrow-purple</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-left arrow-purple"></div>.arrow-left<br>.arrow-purple</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-right arrow-purple"></div>.arrow-right<br>.arrow-purple</code></td>
          </tr>
          <tr>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-up arrow-blue"></div>.arrow-up<br>.arrow-blue</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-down arrow-blue"></div>.arrow-down<br>.arrow-blue</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-left arrow-blue"></div>.arrow-left<br>.arrow-blue</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-right arrow-blue"></div>.arrow-right<br>.arrow-blue</code></td>
          </tr>
          <tr>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-up arrow-teal"></div>.arrow-up<br>.arrow-teal</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-down arrow-teal"></div>.arrow-down<br>.arrow-teal</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-left arrow-teal"></div>.arrow-left<br>.arrow-teal</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-right arrow-teal"></div>.arrow-right<br>.arrow-teal</code></td>
          </tr>
          <tr>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-up arrow-turquoise"></div>.arrow-up<br>.arrow-turquoise</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-down arrow-turquoise"></div>.arrow-down<br>.arrow-turquoise</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-left arrow-turquoise"></div>.arrow-left<br>.arrow-turquoise</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-right arrow-turquoise"></div>.arrow-right<br>.arrow-turquoise</code></td>
          </tr>
          <tr>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-up arrow-green"></div>.arrow-up<br>.arrow-green</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-down arrow-green"></div>.arrow-down<br>.arrow-green</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-left arrow-green"></div>.arrow-left<br>.arrow-green</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-right arrow-green"></div>.arrow-right<br>.arrow-green</code></td>
          </tr>
          <tr>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-up arrow-yellow"></div>.arrow-up<br>.arrow-yellow</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-down arrow-yellow"></div>.arrow-down<br>.arrow-yellow</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-left arrow-yellow"></div>.arrow-left<br>.arrow-yellow</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-right arrow-yellow"></div>.arrow-right<br>.arrow-yellow</code></td>
          </tr>
          <tr>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-up arrow-grey"></div>.arrow-up<br>.arrow-grey</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-down arrow-grey"></div>.arrow-down<br>.arrow-grey</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-left arrow-grey"></div>.arrow-left<br>.arrow-grey</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-right arrow-grey"></div>.arrow-right<br>.arrow-grey</code></td>
          </tr>
          <tr>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-up arrow-white"></div>.arrow-up<br>.arrow-white</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-down arrow-white"></div>.arrow-down<br>.arrow-white</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-left arrow-white"></div>.arrow-left<br>.arrow-white</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-right arrow-white"></div>.arrow-right<br>.arrow-white</code></td>
          </tr>
          <tr></tr>
          <tr>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-up arrow-trans-white"></div>.arrow-up<br>.arrow-trans-white</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-down arrow-trans-white"></div>.arrow-down<br>.arrow-trans-white</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-left arrow-trans-white"></div>.arrow-left<br>.arrow-trans-white</code></td>
            <td class="text-center"><code><div class="center-block margin-bottom-s arrow-right arrow-trans-white"></div>.arrow-right<br>.arrow-trans-white</code></td>
          </tr>
        </table>

      </div><!-- .arrows -->

    </div>

    <div class="col hide-on-small-and-down m3 l2">
      <div class="toc-wrapper pin-top" style="top: 0px;">
        <div style="height: 1px;">
          <ul class="section table-of-contents">
            <li><a href="#arrows" class="active">Arrows</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>


    </main>
    <% include ../partials/footerScripts.html %>
    <% include ../partials/footerScripts-styleguide.html %>
  </body>
</html>
