<html lang="en">
  <head>
    <!-- include common head -->
    <% include ../partials/head.html %>
    <!-- include styleguide head -->
    <% include ./partials/head.html %>
    <!-- page-specific head -->
    <meta name="description" content="Meta description">
  </head>
  <body class="styleguide">
    <header>
    <% include ./partials/left-rail.html %>
    </header>
    <main>
      <div class="container">
        <h1>What's new in vbox?</h1>
        <h4>04.13.16</h4>
        <ul>
          <li>Added playOnOpen option to <a href="/styleguide/modals/#initialization">modals</a></li>
          <li>Added indicators option to <a href="/styleguide/sliders/#carousel">carousel</a></li>
        </ul>
        <h4>03.19.16</h4>
        <ul>
          <li>Added <a href="/styleguide/helpers#responsive-margin-padding" data-adata="link_responsive-margin-and-padding">responsive margin and padding</a></li>
          <li>Added <a href="/styleguide/grid#grid-flex" data-adata="link_flex-and-responsive-flex">flex and responsive flex</a> classes</li>
          <li>Added <a href="/styleguide/helpers#direction" data-adata="link_right-to-left">right to left</a> helper</li>
        </ul>
        <h4>03.18.16</h4>
        <ul>
          <li>Added <a href="/styleguide/lightbox/#materialboxgallery">Material Box Gallery</a></li>
          <li>Improved blockquote styles on mobile</li>
        </ul>
        <h4>03.17.16</h4>
        <ul>
          <li>Added arrows and sizing to tooltips</li>
          <li>Added .height-auto and .width-auto classes</li>
          <li>Added half columns</li>
          <li>Improved tables styles</li>
          <li>Improved absolute positioning classes</li>
        </ul>
        <h4>03.11.16</h4>
        <ul>
          <li>Added and refined hgroup sizes</li>
          <li>Adjusted container widths</li>
        </ul>
        <h4>02.29.16</h4>
        <ul>
          <li>Adjusted button left and right padding</li>
          <li>Added <a href="/styleguide/hgroup/#alt-hgroup">alt hgroup</a> classes</li>
          <li>Added <a href="/styleguide/blockquote/#quote-marks">.quote-marks</a> class</li>
          <li>Added <a href="/styleguide/helpers/#absolute-position">absolute positioning</a> helpers</li>
          <li>Added <a href="/styleguide/helpers/#vertical-align">vertical alignment</a> helpers</li>
          <li>Added xs size (0.5 rem) for <a href="/styleguide/helpers/#margin-padding">margin and padding</a> helpers</li>
          <li>Added <a href="/styleguide/typography/#line-height">line height</a> helpers</li>
          <li>Added <a href="/styleguide/arrows/">arrows</a> component</li>
        </ul>
        <h4>02.23.16</h4>
        <ul>
          <li>Added/customized large, small and multiline button sizes</li>
          <li>Added .max-width helper</li>
          <li>Added position helpers</li>
          <li>Added font smoothing for headings greater than ~18px</li>
        </ul>
        <h4>02.16.16</h4>
        <ul>
          <li>Matched heading styles to old volusion.com</li>
          <li>Fixed anchor colors and hover colors</li>
          <li>Added .full-width helper</li>
          <li>Added .center-block helper</li>
          <li>Added .h-subhead class</li>
          <li>Added xs hgroup option for 230px height heroes</li>
          <li>Added documentation for .hgroup-*</li>
          <li>Added documentation for .valign-middle</li>
        </ul>
        <h4>02.03.16</h4>
        <ul>
          <li>Added link and button hover color</li>
          <li>Shifted media queries; added xs, s, m, l, and xl prefixes</li>
          <li>Responsive text alignment</li>
          <li>.text- prefixed text helpers</li>
        </ul>
        <h4>02.01.16</h4>
        <ul>
          <li>Margin and padding helpers</li>
          <li>Gutter widths</li>
          <li>Borders</li>
          <li>XL Media queries</li>
          <li>Lists and definition lists</li>
        </ul>
      </div><!-- .container -->
    </main>
    <% include ../partials/footerScripts.html %>
    <% include ../partials/footerScripts-styleguide.html %>
  </body>
</html>
