<html lang="en">
  <head>
    <!-- include common head -->
    <% include ../partials/head.html %>
    <!-- include styleguide head -->
    <% include ./partials/head.html %>
    <!-- page-specific head -->
    <meta name="description" content="Meta description">
  </head>
  <body class="styleguide">
    <header>
    <% include ./partials/left-rail.html %>
    </header>
    <main><div class="container">
  <div class="row">

    <div class="col xs12 m9 l10">

      <div class="section">

        <div id="lists" class="section scrollspy">
          <h2 class="header">Lists</h2>
          <p>By default, lists have no list syling. Use .ul-basic to create a bulleted list.</p>
          <h4>Default list</h4>
          <div class="card-panel">
            <ul>
              <li>Commodo Tortor</li>
              <li>Porta Justo Vehicula</li>
              <li>Pellentesque Inceptos</li>
              <li>Sem Lorem Mattis</li>
            </ul>
          </div>
          <pre class="language-markup"><code class="language-markup"><span class="token punctuation">&lt;</span>ul<span class="token punctuation">&gt;</span><br><span class="tab tab-1"></span><span class="token punctuation">&lt;</span>li<span class="token punctuation">&gt;</span>Commodo Tortor<span class="token punctuation">&lt;</span>/li<span class="token punctuation">&gt;</span><br><span class="tab tab-1"></span><span class="token punctuation">&lt;</span>li<span class="token punctuation">&gt;</span>Porta Justo Vehicula<span class="token punctuation">&lt;</span>/li<span class="token punctuation">&gt;</span><br><span class="token punctuation">&lt;</span>/ul<span class="token punctuation">&gt;</span></code></pre>
          <h4>Bulleted list</h4>
          <div class="card-panel">
            <ul class="ul-basic">
              <li>Commodo Tortor</li>
              <li>Porta Justo Vehicula</li>
              <li>Pellentesque Inceptos</li>
              <li>Sem Lorem Mattis</li>
            </ul>
          </div>
          <pre class="language-markup"><code class="language-markup"><span class="token punctuation">&lt;</span>ul class="ul-basic"<span class="token punctuation">&gt;</span><br><span class="tab tab-1"></span><span class="token punctuation">&lt;</span>li<span class="token punctuation">&gt;</span>Commodo Tortor<span class="token punctuation">&lt;</span>/li<span class="token punctuation">&gt;</span><br><span class="tab tab-1"></span><span class="token punctuation">&lt;</span>li<span class="token punctuation">&gt;</span>Porta Justo Vehicula<span class="token punctuation">&lt;</span>/li<span class="token punctuation">&gt;</span><br><span class="token punctuation">&lt;</span>/ul<span class="token punctuation">&gt;</span></code></pre>
          <h4>Definition list</h4>
          <div class="card-panel">
            <dl>
              <dt>Commodo Tortor</dt>
              <dd>Porta Justo Vehicula</dd>
              <dt>Pellentesque Inceptos</dt>
              <dd>Sem Lorem Mattis</dd>
            </dl>
          </div>
          <pre class="language-markup"><code class="language-markup"><span class="token punctuation">&lt;</span>dl<span class="token punctuation">&gt;</span><br><span class="tab tab-1"></span><span class="token punctuation">&lt;</span>dt<span class="token punctuation">&gt;</span>Commodo Tortor<span class="token punctuation">&lt;</span>/dt<span class="token punctuation">&gt;</span><br><span class="tab tab-1"></span><span class="token punctuation">&lt;</span>dd<span class="token punctuation">&gt;</span>Porta Justo Vehicula<span class="token punctuation">&lt;</span>/dd<span class="token punctuation">&gt;</span><br><span class="token punctuation">&lt;</span>/dl<span class="token punctuation">&gt;</span></code></pre>
          <h4>Horizontal definition list</h4>
          <div class="card-panel">
            <dl class="dl-horizontal">
              <dt>Commodo Tortor</dt>
              <dd>Porta Justo Vehicula</dd>
              <dt>Pellentesque Inceptos</dt>
              <dd>Sem Lorem Mattis</dd>
            </dl>
          </div>
          <pre class="language-markup"><code class="language-markup"><span class="token punctuation">&lt;</span>dl class="dl-horizontal"<span class="token punctuation">&gt;</span><br><span class="tab tab-1"></span><span class="token punctuation">&lt;</span>dt<span class="token punctuation">&gt;</span>Commodo Tortor<span class="token punctuation">&lt;</span>/dt<span class="token punctuation">&gt;</span><br><span class="tab tab-1"></span><span class="token punctuation">&lt;</span>dd<span class="token punctuation">&gt;</span>Porta Justo Vehicula<span class="token punctuation">&lt;</span>/dd<span class="token punctuation">&gt;</span><br><span class="token punctuation">&lt;</span>/dl<span class="token punctuation">&gt;</span></code></pre>
        </div>

      </div>

    </div>
    <div class="col hide-on-small-and-down m3 l2">
      <div class="toc-wrapper pinned" style="top: 0px;">
        <div style="height: 1px;">
          <ul class="section table-of-contents">
            <li><a href="#headers">Headers</a></li>
            <li><a href="#basic-text">Basic Text</a></li>
            <li><a href="#helpers">Helpers</a></li>
            <li><a href="#alignment">Alignment</a></li>
            <li><a href="#lists">Lists</a></li>
            <li><a href="#headers">Headers</a></li>
            <li><a href="#blockquote">Blockquotes</a></li>
            <li><a href="#flow">Flow Text</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End Container -->
    </main>
        <% include ../partials/footerScripts.html %>
        <% include ../partials/footerScripts-styleguide.html %>
  </body>
</html>
