<html lang="en">
  <head>
    <!-- include common head -->
    <% include ../partials/head.html %>
    <!-- include styleguide head -->
    <% include ./partials/head.html %>
    <!-- page-specific head -->
    <meta name="description" content="Meta description">
  </head>
  <body class="styleguide">
    <header>
    <% include ./partials/left-rail.html %>
    </header>
    <main><div class="container">
  <div class="row">

    <div class="col xs12 m9 l10">

      <div id="introduction" class="section scrollspy">
        <h4>Introduction</h4>
        <p class="caption">Pushpin is our fixed positioning plugin. You can check out our live examples: the fixed Table of Contents on the right. </p>
      </div>



      <div id="initialization" class="section scrollspy">
        <h4>jQuery Plugin Initialization</h4>
        <pre class=" language-javascript"><code class=" col xs12 language-javascript">
  <span class="token function">$</span><span class="token punctuation">(</span>document<span class="token punctuation">)</span><span class="token punctuation">.</span><span class="token function">ready</span><span class="token punctuation">(</span><span class="token keyword">function</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">{</span>
    <span class="token function">$</span><span class="token punctuation">(</span><span class="token string">'.tabs-wrapper .row'</span><span class="token punctuation">)</span><span class="token punctuation">.</span><span class="token function">pushpin</span><span class="token punctuation">(</span><span class="token punctuation">{</span> top<span class="token punctuation">:</span> <span class="token function">$</span><span class="token punctuation">(</span><span class="token string">'.tabs-wrapper'</span><span class="token punctuation">)</span><span class="token punctuation">.</span><span class="token function">offset</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">.</span>top <span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
        </code></pre>
      </div>



      <div id="options" class="section scrollspy">
        <h4>jQuery Plugin Options</h4>
        <table class="hoverable">
          <thead>
            <tr>
                <th>Option Name</th>
                <th>Description</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Top</td>
              <td>The distance in pixels from the top of the page where the element becomes fixed. (Default: 0)</td>
            </tr>
            <tr>
              <td>Bottom</td>
              <td>The distance in pixels from the top of the page where the elements stops being fixed. (Default: Infinity)</td>
            </tr>
            <tr>
              <td>Offset</td>
              <td>The offset from the top the element will be fixed at. (Default: 0)</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>


    <!-- Table of Contents -->
    <div class="col hide-on-small-and-down m3 l2">
      <div class="toc-wrapper pin-top" style="top: 0px;">
        <div style="height: 1px;">
          <ul class="section table-of-contents">
            <li><a href="#introduction" class="active">Introduction</a></li>
            <li><a href="#initialization">Initialization</a></li>
            <li><a href="#options">Options</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>


    </main>
    <% include ../partials/footerScripts.html %>
    <% include ../partials/footerScripts-styleguide.html %>
  </body>
</html>
