<html lang="en">
  <head>
    <!-- include common head -->
    <% include ../partials/head.html %>
    <!-- include styleguide head -->
    <% include ./partials/head.html %>
    <!-- page-specific head -->
    <meta name="description" content="Meta description">
  </head>
  <body class="styleguide">
    <header>
    <% include ./partials/left-rail.html %>
    </header>
    <main><div class="container">
  <div class="row">

    <div class="col xs12 m9 l10">

      <div id="staggered" class="section scrollspy">
        <p class="caption">We've made some custom animation functions that will transition your content. It's recommended to use this with our <a href="/scrollfire.html">ScrollFire Plugin</a> to make your content transition in as you scroll.</p>


        <h4>showStaggeredList</h4>
        <p>Use this to create a staggered reveal effect for any <code class=" language-markup">UL</code> Tag with list items. Just make sure the list items in the <code class=" language-markup">UL</code> are <code class=" language-css"><span class="token property">opacity</span><span class="token punctuation">:</span> 0<span class="token punctuation">;</span> to ensure the animation works correctly.</code></p>
        <a href="#!" class="btn" onclick="Materialize.showStaggeredList('#staggered-test')">Click Me</a>
        <pre class=" language-markup"><code class=" language-markup">
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>#!<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>btn<span class="token punctuation">"</span></span> <span class="token attr-name">onclick</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Materialize.showStaggeredList('#staggered-test')<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Click Me<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span>
        </code></pre>
        <ul id="staggered-test">
          <li>
            <h4><a href="#">List Item</a></h4>
            <p>This is a description</p>
          </li>
          <li>
            <h4><a href="#">List Item</a></h4>
            <p>This is a description</p>
          </li>
          <li>
            <h4><a href="#">List Item</a></h4>
            <p>This is a description</p>
          </li>
          <li>
            <h4><a href="#">List Item</a></h4>
            <p>This is a description</p>
          </li>
          <li>
            <h4><a href="#">List Item</a></h4>
            <p>This is a description</p>
          </li>
        </ul>
      </div>

      <div id="fadeImage" class="section scrollspy">
        <h4>fadeInImage</h4>
        <p>Use this to fade in images. It also animates grayscale and brightness to give it a unique effect.</p>
        <a href="#!" class="btn" onclick="Materialize.fadeInImage('#image-test')">Click Me</a>
        <pre class=" language-markup"><code class=" language-markup">
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>#!<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>btn<span class="token punctuation">"</span></span> <span class="token attr-name">onclick</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Materialize.fadeInImage('#image-test')<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Click Me<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span>
        </code></pre>
        <img id="image-test" class="responsive-img" src="https://unsplash.imgix.net/reserve/nE6neNVdRPSIasnmePZe_IMG_1950.jpg?dpr=1.25&amp;fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050">
      </div>
    </div>

    <div class="col hide-on-small-and-down m3 l2">
      <div class="toc-wrapper pin-top" style="top: 0px;">
        <div style="height: 1px;">
          <ul class="section table-of-contents">
            <li><a href="#staggered" class="active">showStaggeredList</a></li>
            <li><a href="#fadeImage">Materialize.fadeInImage</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>


    </main>
    <% include ../partials/footerScripts.html %>
    <% include ../partials/footerScripts-styleguide.html %>
  </body>
</html>
